/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-custom-next-page {

  .wp-block {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

